body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: Arial, sans-serif;
    max-width: 360px;
    margin: 0;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15); 
    background: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid #fff3f3;
    box-sizing: border-box;
}

.botao {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    font-size: 16px;
    background: #00050a;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}